<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{url_for('.static', filename='css/accordion.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('.static', filename='css/main.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <button class="accordion">RAW DATA</button>
    <div class="panel">
        <div class="scrollmenu">
            {% for table in tables  %}
                <h2> {{ titles[loop.index] }} </h2>
                {{ table|safe}}
            {% endfor %}
        </div>
    </div>

    <button class="accordion">Data describe numeric values</button>
    <div class="panel">
        <div class="scrollmenu">
            {% for data1 in described_data  %}
                <h2> {{ titles[loop.index] }} </h2>
                {{ data1|safe}}
            {% endfor %}
        </div>
    </div>

    <button class="accordion">Data describe categorical values</button>
    <div class="panel">
        <div class="scrollmenu">
            {% for data2 in described_data_cat  %}
                <h2> {{ titles[loop.index] }} </h2>
                {{ data2|safe}}
            {% endfor %}
        </div>
    </div>

    <button class="accordion">All columns</button>
    <div class="panel">
        <div class="scrollmenu">
            <table>
                <tr>
                    <th>Column</th>
                    <th>isnull sum</th>
                </tr>
                {% for i in range(column_names | length) %}
                    <tr>
                        <td>{{ column_names[i] }}</td>
                        <td>{{ isnull[i] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

<script src="{{url_for('.static', filename='js/accordion.js')}}" type="text/javascript"></script>
</body>
</html>